html, body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}

header{
    width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
}

.logo{
    position: absolute;
    margin: 2% 45%;
}